<% provide(:title, "Login") %>
<% @email, @password = "email..", "password.." %>
  <div class="center jumbotron">
    <h1>Login</h1>
      <form action="POST">
          <input type="email" placeholder="email.." value=<%= @email %>  />
          <input type="password" placeholder="password.." value=<%= @password %>/>
        <input type="submit"/>
      </form>
    <%= link_to "Sign up now!", '#signup_or_login', class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign up now!", '#signup_or_login', class: "btn btn-lg btn-primary" %>

  </div>
  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
