<!DOCTYPE html>
<html lang="en">
 <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <title>Sample Micropost App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container margin-top margin-right margin-left">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li id="lnav"><%= link_to 'landing', root_path %></li>> </li>
            <li id="lnav"><%= link_to 'help', help_path %> </li>
            <li id="lnav"><%= link_to 'about', about_path  %> </li>
            <li id="lnav"><%= link_to 'log in', log_in_path %> </li>
          </ul>
        </nav>
      </div>
    </header>
    <br>
     <p class="notice"><%= notice %></p>
     <br>
     <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
   </body>
</html>
